In [1]:
import pandas as pd
import pickle

In [2]:
data = pd.read_csv('heart.csv')

In [3]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
data=data.drop_duplicates()

In [5]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [7]:
from sklearn.preprocessing import PolynomialFeatures

In [8]:
x = data.drop('target', axis=1)
y = data['target']

In [9]:
pol = PolynomialFeatures(degree=2)

In [10]:
x = pol.fit_transform(x)

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0, stratify=y)

In [12]:
model = LogisticRegression()

In [13]:
model.fit(x_train, y_train)

C:\Users\jjanw\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
model.score(x_train, y_train)

0.8589211618257261

In [15]:
model.coef_

array([[ 8.12898497e-07,  2.95946790e-05, -9.59529590e-06,
         9.57671414e-06,  5.68865431e-05,  9.57512502e-05,
         1.17751953e-07,  7.58785934e-06,  6.69748059e-05,
        -9.59446680e-06, -7.79205324e-06,  4.71731019e-06,
        -7.58746655e-06, -1.05319230e-05,  1.45617933e-03,
        -5.56131786e-04,  4.78696075e-04,  1.10888268e-03,
         9.26008901e-06, -1.00524804e-05,  4.27483326e-04,
        -1.82633731e-03, -5.19228753e-04, -3.65794573e-04,
         2.08078056e-04, -4.76442408e-04, -5.49326171e-04,
        -9.59529590e-06, -4.56423378e-06, -1.22179201e-03,
        -2.42824863e-03,  1.97117769e-07,  9.51259912e-07,
        -1.35968212e-03, -8.39916418e-06, -1.54466689e-05,
        -1.10434859e-05, -1.05771023e-05, -2.94158805e-05,
         8.49751716e-06,  1.29266444e-03,  1.83073157e-03,
         4.59811991e-06,  8.53712167e-06,  1.38088873e-03,
         8.00040632e-08,  3.12571472e-06,  1.37511089e-05,
         3.82651269e-06,  1.06505898e-05, -7.69811675e-04,
        -2.67558235e-04, -2.61169724e-05,  9.61276703e-04,
         1.28484467e-03, -1.29175771e-03, -6.32532611e-04,
         4.48545788e-04, -1.08693754e-03, -1.53036148e-03,
         1.75998230e-05, -1.18718211e-04,  1.75618744e-03,
         2.03276959e-04, -2.25293399e-03, -1.58622513e-03,
         8.57545410e-04, -1.94647371e-03, -2.78219101e-03,
         1.17751953e-07,  1.85205213e-06,  1.19480916e-05,
        -3.19536601e-06, -3.44436539e-06,  2.97041373e-06,
        -1.93569298e-06,  3.11335091e-06,  7.40207592e-06,
         1.16818137e-03, -5.79330554e-06, -4.99126318e-06,
         1.69904988e-05,  8.96199984e-06,  1.09010525e-05,
        -2.76977401e-04, -1.38725310e-03, -1.16069792e-03,
         6.35255010e-04, -1.25270495e-03, -1.69331072e-03,
        -9.59446680e-06, -1.87331617e-05, -9.15509878e-06,
        -1.00986628e-05, -2.30618804e-05, -3.01298719e-05,
        -6.04754066e-06, -2.21498382e-05, -3.12193408e-05,
         1.59909334e-05, -7.27229775e-06, -9.11249146e-06,
         1.61920819e-05, -1.74463948e-05, -6.20844281e-05]])

In [16]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [17]:
model.intercept_

array([8.12898352e-07])

In [18]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0